<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <img
          src="/assets/img/real_armenai.png"
          alt="Coat of Arms"
          class="coat-of-arms"
        />
        <p>Consulate of Armenia to Nepal <br>
        
            <i class="fa fa-copyright">&nbsp;All rights reserved</i>
        </p>
      </div>
      <div class="footer-right">
        <p>
          Armenia Street, D-133, Anand Niketan, <br />
          New Delhi-110021, India
        </p>
       
      </div>
    </div>
   
  </div>
</footer>
