<header class="header">
    <div class="header-content">
        <div class = "left-section">
      <img src="/assets/img/real_armenai.png" alt="Embassy Logo" class="logo">
      <h1>Consulate of Armenia to Nepal</h1>
      </div>
      <div class = "right-section">
        <div class="language-switch">
        <a href="#" class="lang">English</a>
        <a href="#" class="lang">Nepali</a>
      </div>
      <div class="social-icons">
        <a href="#" class="icon facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="icon twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
      </div>
     </div>
  </header>