    <nav class="sidebar" id = "sidebar">
        <div class="nav-item">
            <button onclick="toggleMenu('menu1',this)" data-id="embassy">Embassy</button>
            <div class="nav-links" id="menu1">
                <ul>
                    <li data-link="/en/pages/ambassador.html">Ambassador</li>
                    <li data-link="/en/pages/structure.html">Structure</li>
                    <li data-link="/en/pages/contacts.html">Contacts/Working hours</li>
                    <li data-link="/en/pages/gallery.html">Photo Gallery</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="nav-item">
            <button onclick="toggleMenu('menu2',this)" data-id="armenia">Armenia</button>
            <div class="nav-links" id="menu2">
                <ul>
                    <li data-link="/en/pages/overview.html">Overview</li>
                    <li data-link="/en/pages/governance.html">Governance</li>
                    <li data-link="/en/pages/culture.html">Culture</li>
                    <li data-link="/en/pages/history.html">History</li>
                    <li data-link="/en/pages/business.html">Doing business in Armenia</li>
                    <li data-link="https://enterprisearmenia.am/">Invest in Armenia </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu3',this)" data-id="visa">Visa for Citizens of Nepal</button>
            <div class="nav-links" id="menu3">
                <ul>
                    <li data-link="/en/pages/procedures.html">Procedures</li>
                    
                </ul>
            </div>
        </div>
        
        
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu4',this)" data-id="bilateral">Bilateral Relations</button>
            <div class="nav-links" id="menu4">
                <ul>
                    <li>Trade</li>
                    <li> Politics</li>
                    <li>Agreements</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu5',this)">Consular Affairs</button>
            <div class="nav-links" id="menu5">
                <ul>
                    <li data-link="/en/pages/consular_service.html">Free Consular Services</li>
                    <li data-link = "https://www.mfa.am/en/">Visa</li>
                    <li data-link="/en/pages/passport.html">Passport</li>
                    <li data-link="/en/pages/registration.html">Consular registration</li>
                    <li data-link="/en/pages/notary.html">Notary services</li>
                    <li data-link = "/en/pages/residency.html">Special residency Status</li>
                    <li data-link = "/en/pages/advice.html">Advice for travellers</li>
                    <li data-link = "/en/pages/criminal_records.html">Crimial record certificate</li>
                    <li>Consular fees</li>
                    <li>FAQ</li>
                </ul>

            </div>
        </div>
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu6',this)">News and Information</button>
            <div class="nav-links" id="menu6">
                <ul>
                    <li>News</li>
                    <li>Useful Links</li>
                    <li>Announcements</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu7',this)">Armenian Community</button>
            <div class="nav-links" id="menu7">
                <ul>
                    <li>About Community</li>
                    <li>Activities</li>
                    <li>Hayastan All Armenian Fund</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="nav-item">
            <button onclick="toggleMenu('menu8',this)">Study in Armenia</button>
            <div class="nav-links" id="menu8">
                <ul>
                    <li>Universities</li>
                    <li>Scholarships</li>
                    <li>Programs</li>
                </ul>
            </div>
        </div>
        <div class="appointment" onclick="toggleForm()">BOOK AN APPOINTMENT</div>
    </nav>
    <div id='overlay' class='overlay' style="display:none;"></div>
    <div id="appointmentForm" class="form-container" style="display: none;">
        <form id="form_element" onsubmit="return validateForm(event)">
            <h3> Book an appointment </h3>
            <label for="name"> Name:</label>
            <input type="text" id="name" placeholder="Must be filled" style="font-family: 'Times New Roman', Times, serif;" required>
            <label for="email"> Email:</label>
            <input type="email" id="email" placeholder="Must be filled" style="font-family: 'Times New Roman', Times, serif;" required>
            <label for="phone"> Phone:</label>
            <input type="tel" id="phone" placeholder="Must be filled" style="font-family: 'Times New Roman', Times, serif;" required>
            <label for="date">Preferred Date:</label>
            <input type="date" id="date" style="font-family: 'Times New Roman', Times, serif;" required>
            <label for="message">Your Message:</label>
            <textarea id="message" rows="10" placeholder="Write your message here..." style="font-family: 'Times New Roman', Times, serif;"></textarea>

            <button type="submit" onclick="toggleForm()" style="font-family: 'Times New Roman', Times, serif;">Submit</button>
            <button type="button" onclick="toggleForm()" style="font-family: 'Times New Roman', Times, serif;">Cancel</button>
        </form>
    </div>

   





