body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}
 
  .header {
    position: relative;
    background-image: url('./img/banner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38vh;
    align-items: flex-end; 
    padding: 20px;
  }
    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }
  
  .header-content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .left-section {
    position: absolute;
    bottom: 4px;
    left: 30px;
    display: flex;
    align-items: center; 
    gap: 20px; 
  }
  .right-section {
    display: flex;
    align-items: center; 
}
  .language-switch {
    position: absolute;
    display: flex;
    top: 0.2px;
    right: 40px;
  }
  
  .logo {
    background: none;
    width: 105px;
    height: auto;
    

  }
  
  h1 {
    margin: 0;
    color: white;
    font-size: 30px;
  }
  
  .language-switch {
    display: flex;
  }
  
  .lang {
    margin-left: 10px;
    text-decoration: none;
    color: white;
  }
  
  .lang:hover {
    text-decoration: underline;
  }
  
.social-icons {
  display: flex;
  gap: 15px; 
  bottom: 25px; 
  right: 30px;
  position: absolute;
  
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-color: #3B3F5F;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; 
}


.icon:hover {
  transform: scale(1.1);
}

  .container {
    display: flex;
    
}

.sidebar {
    width: 300px;
    background-color:rgb(59,63,95);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
}

.nav-item {
    margin-bottom: 10px;

}

.nav-item button {
    width: 100%;
    background:none;
    border: none;
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;


}

.nav-links {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    background-color:  #2f324c;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    margin-bottom:10px;
    background-color: rgba(13, 8, 8, 0);
}

.nav-links li:hover {
    text-decoration: none;
    color: #126ac3;
    cursor: pointer;
}

.appointment {
   margin-top: 20px;
    padding: 15px;
    text-align: center;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.appointment:hover {
    background-color: #c0392b;
}
hr {
    border: none; 
    height: 0.1px;
    background-color: black;
  }
  li{
    margin-bottom:10px;
    background-color: rgba(13, 8, 8, 0);
  }

.footer {
    background-color: #282C47;
    color: white;
    padding: 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-left: 0px;
}
 .coat-of-arms {
    width:50px;
    height: auto;
    margin-left: 30px;
}
.footer-left p{
  line-height: 1.7;
  font-size: 15px;
  margin-left: 20px;
}
.footer-right p{
  line-height: 1.7;
    text-align: left;
    margin-right: 80px;
    font-size: 15px;
   
}