 *{
  box-sizing: border-box;
  margin: 0;
  border: 0;

 }
 body{

    font-family: Georgia, 'Times New Roman', Times, serif
}
 
  .header {
    position: relative;
    background-image: url('./img/banner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38vh;
    align-items: flex-end; 
    padding: 20px;
  }
    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }
  
  .header-content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .left-section {
    position: absolute;
    bottom: 4px;
    left: 30px;
    display: flex;
    align-items: center; 
    gap: 20px; 
  }
  .right-section {
    display: flex;
    align-items: center; 
}
  .language-switch {
    position: absolute;
    display: flex;
    top: 0.2px;
    right: 40px;
  }
  
  .logo {
    background: none;
    width: 105px;
    height: auto;
    

  }
  
  h1 {

    color: white;
    font-size: 30px;
  }
  
  .language-switch {
    display: flex;
  }
  
  .lang {
    padding-left: 10px;
    text-decoration: none;
    color: white;
  }
  
  .lang:hover {
    text-decoration: underline;
  }
  
.social-icons {
  display: flex;
  gap: 15px; 
  bottom: 25px; 
  right: 30px;
  position: absolute;
  
}



.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-color: #3B3F5F;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; 
}


.icon:hover {
  transform: scale(1.1);
}


 .container {
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: rgb(59,63,95);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  height: 100vh;
  
}

.nav-item{
  padding-bottom: 0.9rem;
  

}

.nav-item button {
  width: 100%;
  background: none;
  color: white;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  
  

}

.nav-links {

  display: none;
  flex-direction: column;
  background-color: #2f324c; 
  overflow: hidden;

}

.nav-links li {
  list-style-type: circle; 
  color: #a8a9b4;
  padding: 1rem; 
  transition: none;
  
  

}

.nav-links li a {
  font-weight: 100;
  transition: color 0.2s ease-in-out;
  padding-left: 20px;
  color: #a8a9b4;
  text-decoration: none;
  

}
.nav-item button.active  {
  background-color: #2f324c;
  max-height: 500px; 
}

.nav-links li::marker { 
  font-size: 1rem;
  content: "○"; 
}
.nav-links li:hover::marker{
  content: "•";  
  color: #0ba5cc;
  font-size: 1rem;


} 
.nav-links li:hover {
  color: white; 
  
}

.nav-links li:hover a {
  color: white; 
  position: absolute;
}

.appointment {
  padding: 1rem 0;
  text-align: center;
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.appointment:hover {
  background-color: #c0392b;
}

hr {

  height: 0.09px;
  background-color: #a8a9b4;

  

}

.footer {
    background-color: #282C47;
    color: white;
    padding: 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-left: 0px;
}
 .coat-of-arms {
    width:50px;
    height: auto;
    margin-left: 30px;
}
.footer-left p{
  line-height: 1.7;
  font-size: 15px;
  margin-left: 20px;
}
.footer-right p{
  line-height: 1.7;
    text-align: left;
    margin-right: 80px;
    font-size: 15px;
   
}



 
 